
.bodycolumn {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

* {
    font-family: "Rubik", sans-serif;
}

body {
    margin: 0px;
    background-color: rgb(200, 255, 205); 

    /* Apparently this liniear gradiant thing makes it more transparent? */
    background-image: linear-gradient(rgba(94, 165, 181, 0.329), rgba(79, 149, 168, 0.41)), url('../mainfiles/aboutmeimg.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

main {
    margin-left: 30px;
    margin-right: 30px;
}

.mainheader {
    background-color: #28A745;
    display: flex;
    justify-content: space-between;
}


.mainheader div {
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    gap: 30px;
    padding: 5px;
    align-items: center;

}

.mainheader img {
    width: 170px;
    height: auto;
}

.headerlink {
    text-decoration: none;
    color: rgb(6, 56, 7);

    padding-right: 10px;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.headerlink:hover {
    background-color: rgb(107, 204, 110);
}


.aboulink {
    text-decoration: none;
    color: rgb(6, 56, 7);
}

.aboulink:hover {
    text-decoration: none;
    color: rgb(202, 254, 203);
}



.centerdiv {
    text-align: justify;
    align-items: center;
    font-size: 12px;
}

.mainfooter {
    color: rgb(6, 56, 7);
    background-color: #28A745;  
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
    margin-top: auto; /* Apparently this fixes the footer */
}

.loginbox {
    /* apparently margin auto centers stuff*/
    margin: auto;

    position: relative;
    max-width: 90%;
    height: 60vh;
    width: 16vw;
    border-radius: 10px;
    border-style: solid;
    padding-top: 23px;
    padding-left: 50px;
    padding-right: 50px;
    background-color: rgb(152, 255, 186);
    
    border-width: thick;
}

.inputbox {
    width: 15vw; 
    height: 5vh; 
    font-size: 2vh;
    border-radius: 10px;
    background-color: rgb(219, 248, 221);
    border: 2px solid black;
}

/* FOR THE SIGN UP PAGE */

.signup {
    /* apparently margin auto centers stuff*/
    margin: auto;

    position: relative;
    
    max-width: 400px;
    min-height: 450px;
    width: 80%;
    border-radius: 10px;
    border-style: solid;
    
    /* Old stuff:

    padding-top: 18px;
    padding-left: 50px;
    padding-right: 50px;
    */

    padding: 15px 20px; /* Simplified padding */
    background-color: rgb(152, 255, 186);
    border-width: thick;
}

.signupbox {
    width: 280px; 
    height: 30px; 
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(219, 248, 221);
    border: 2px solid black;
}


.smallersignupbox {
    width: 39.2%; 
    height: 30px; 
    font-size: 15px;
    border-radius: 10px;
    background-color: rgb(219, 248, 221);
    border: 2px solid black;
}


.bgreentext {
    color: rgb(12, 41, 11);
    font-size: 30px;

}

.linkbgreentext {
    color: rgb(12, 41, 11);
    text-decoration: none;
    
}
.signuplink {
    color: rgb(12, 41, 11);
    text-decoration: none;
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.signuplink:hover {
    color: rgb(119, 169, 117);
}


.linkbgreentext:hover {
    color: rgb(119, 169, 117);
}

.greenbutton {
    height: 30px;
    width: 200px;
    color: #ffffff;
    background-color: #28A745;
    border-radius: 15px;
    font-size: 16px;
    border: 1px solid black;
}

.greenbutton:hover {
    background-color: #b8ffc8;
}

.centeredform {
    text-align: center;
}

.onevh {
    font-size: 1.7vh;
    color: rgb(12, 41, 11);
}

.mainthing {
    margin: auto;
}

.divspacebetween {
    display: flex;
    justify-content: space-between;
}

.usertypetext {
    font-size: 16px;
}

.aboutmepagecentertext {
    font-size: 30px;
    color: rgb(2, 42, 2);
    background-color: rgba(137, 193, 124, 0.8);
    display: inline-block;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
    border-radius: 20px;
    width: 75%;
    text-align: justify;
}

.headercentertext {
    text-align: center;
}


.logoutlink {
    text-decoration: none;
    color: rgb(6, 56, 7);
    padding-right: 30px;
    padding-left: 10px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.logoutlink:hover {
    color: rgb(202, 254, 203);
}


.announcementbox {
    width: 95%;
    height: 95%;
    background-color: rgb(204, 247, 207);
    border: 3px solid rgb(24, 42, 12);
    align-items: center;
    margin: auto;
    display: flex;
    justify-content: center;
     display: flex;
    flex-direction: column;
    max-width: none; /* just in case */
    box-sizing: border-box;
    padding: 15px;
    gap: 10px;
}

.announcementblock h3 {
  margin: 3px 0; 
}

.centerblock {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
}

.posts {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    width: 95%;
    gap: 15px;
    justify-content: space-between;
    margin: auto;
}


.announcementblock {
    min-width: 45%;
    max-width: 90%;
    display: flex;
    flex-direction: column;

    height: auto;
    background-color: rgb(101, 221, 109);
    color: rgb(16, 43, 20);
    padding: 10px;
    border: 3px solid rgb(30, 47, 28);
    border-radius: 10px;
}

.announcement_text {
    text-align: justify;
    align-items: center;
    padding: 5px;
    background-color: #c1facf;
    border: 2px solid black;
    border-radius: 5px;
    height: 100%;

}

.biggreenbutton {
    height: 50px;
    width: 300px;
    color: #ffffff;
    background-color: #28A745;
    border-radius: 15px;
    font-size: 20px;
    border: 1px solid black;
    transition: background-color 0.2s ease, color 0.2s ease; 

}

.biggreenbutton:hover {

    color: #41b502;
    background-color: #ffffff;
}

